* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E7EBF0;
    font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background: #5682A3;
    padding: 8px 9px;
}


.navbar-brand {
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-right: 18px;
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-position: -5px -10px;
    background-size: 40px 948px;
}

.navbar .title {
    color: #fff;
    margin-right: auto;
    width: 62px;
    height: 14px;
    vertical-align: middle;
    background-image: url(Telegram.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 1px;
}


.navbar button {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700 ;
}


.navbar button span {
    color: #fff;
    width: 7px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    margin-top: -1px;
    background-image: url(../img/icons/General.png);
    background-repeat: no-repeat;
    background-position: -18px -50px;
    background-image: url(img.png);
    background-size: 40px 948px;
}


.container {
    background: #fff;
    height: 65vh;
    margin: 0 5px;
    padding: 81px 0;
}


.content {
    padding: 0 40px;
    margin: 0 ;
}

.p0{
    color: #222;
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: 700;
}


.p1 {
    color: #999;
    font-size: 13px;
    line-height: 160%;  
    margin: 15px 0 30px;
}



.country {
    margin: 0;
    font-weight: 400;
    color: #999;
    font-size: 13px;
    transform: scale(.9);
    -webkit-transform-origin: left center;
}


.country_title {
    color: #000;
    background: #fff;
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0 6px;
    margin: 3px 0 22px;
    width: 100%;
    border-bottom: 2px solid #F5F5F5;
}


.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.country_title2 {
    color: #000;
    background: #fff;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0 6px;
    margin: 3px 0 22px;
    width: 20%;
    border-bottom: 2px solid #F5F5F5;
    letter-spacing: 1px;
}


.country_title2::-webkit-input-placeholder {
    font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;

}


.country_title3 {
    color: #000;
    background: #fff;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0 6px;
    margin: 3px 0 22px;
    width: 75%;
    border-bottom: 2px solid #F5F5F5;
}


.country_title3:focus {
    border-color: #74BCF3;
}


.country_title3::-webkit-input-placeholder {
    color: #999999;
    font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    font-size: 13px;
}


.footer {
    color: #84a2bc;
    font-size: 13px;
    line-height: 16px;
    margin-top: 25px;
    text-align: center;
}


/* Confirm page */


.container2 {
    background: #fff;
    height: 65vh;
    margin: 0 5px;
    padding: 94px 0;
}


.content2 {
    padding: 0 40px;
    margin: 0 ;
}


.container2 .number{
    color: #222;
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}


.edit {
    color: #3a6d99;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.p11 {
    color: #999;
    margin: 15px 0;
    line-height: 160%;
    text-align: center;
}
/* 
.form_code {
    padding: 0 40px;
    margin: 0 ;
}  */


.code {
    color: #000;
    background: #fff;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0 10px;
    margin: 25px 0 0;
    width: 100%;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
    border-bottom: 2px solid #F5F5F5;
}


.code::-webkit-input-placeholder {
    color: #999999;
    font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    font-size: 13px;
}



/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.63); /* Black w/ opacity */
  }

  .display {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .no-display {
      display: none;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 37px 0;
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .modal-text {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    line-height: 160%;
}


.modal-number {
    font-weight: 700;
    padding: 15px 10px 0;
    text-align: center;
}

.modal-footer {
    padding: 10px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal-footer .close{
    color: #72a0c7;
    order: 1;
    margin-left: auto;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 10px;
}


.modal-form {
    order: 2;
    margin-left: 10px;
}

.modal-footer .ok {
    color: #4680b3;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 10px;
}


.hidden-phone {
    display: none;
}